{% load cart %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav>
                <a href="/">Homepage</a>
                <a href="{% url 'products:all' %}">Products</a>
                <a href="{% url 'stores:all' %}">Stores</a>
                {% if request.user.is_authenticated %}
                    {% cart_link request.session %}
                    <a href="{% url 'payments:orders' %}">Orders</a>
                    <a href="{% url 'payments:cards' %}">Payment methods</a>
                    {% if request.user.is_superuser %}
                        <a href="/admin">Admin</a>
                    {% endif %}
                    <a href="{% url 'users:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'users:login' %}">Login</a>
                    <a href="{% url 'users:register' %}">Register</a>
                {% endif %}
            </nav>
        </div>
    </div>
</div>