{% extends 'base.html' %}

{% block title %}
    <title>My Products Page</title>
{% endblock %}

{% block content %}
    <h1>My Products Page</h1>
    <ul>
        {% for product in products %}
            <li style="margin-bottom: 10px;">
                <div>
                    {{ product.name }} - {{ product.price }} RON <a href="{% url 'products:details' product.id %}">View product</a>
                </div>
                <div>
                    Extra details:
                    <ul>
                        <li>
                            Color: {{ product.color }}
                        </li>
                        <li>
                            Size: {{ product.human_size }}
                        </li>
                        <li>
                            Gender: {{ product.gender }}
                        </li>
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}